<!DOCTYPE html>
<html lang="en">
<head>
	<%- include ('partials/Header') %>
	<title>We Apologize</title>
</head>
<body>

	<%- include ('partials/NavBar') %>
	<%- include ('partials/Background') %>
	<%- include ('partials/ExitSurvey') %>

	<div class="mig-container">
		<h5 class='contact-failure text-center mt-5 text-white'>We're sorry to say that  there has been some mistake</h5>
		<h5 class='contact-failure text-center text-white'>Not to worry.</h5>
		<h5 class='contact-failure text-center text-white'>Please email us directly at <a href="mailto: bestweldingequipment@gmail.com" target="_blank">BestWeldingEquipment@gmail.com</a></h5>
	</div>

	<%- include ('partials/Footer') %>
	
</body>
</html>