<!DOCTYPE html>
<html lang="en">
<head>
	<%- include ('partials/Header') %>
	<title>Best Welding Equipment</title>
	<meta name='description' content="At Best Welding Equipment we have spent our time finding the best welders, gloves, helmets, and other gear... so you don't have to.">
	<meta name='robots' content='index, follow'>

</head>
<body>
	<%- include ('partials/NavBar') %>
	<%- include ('partials/Background') %>

<div class="container">
	<div class="content">
		<p class='name-intro text-center mt-4'>Are you looking for the</p>
		<h1 class='name text-center mt-0'>Best Welding Equipment?</h1>
		<div class='home-container'>
			<div class="card-deck">
				<div class="card m-4" id='multiProcessHomeCard'>
					<a href='./Multi-welders'>
						<img src='./images/Home/Multi_Welder2.webp' alt='ESAB Rebel EMP215IC welder' class='card-img-top pl-md-2 pt-2 pr-md-2 mx-auto'>
						<div class="card-body text-center">
							<h2 class='card-title'>Multiprocess Welders</h2>
						</div>
					</a>
				</div>
				<div class="card m-4" id='helmetsHomeCard'>
					<a href='./helmets'>
						<img src='./images/Home/Safety_Equipment2.webp' alt='Black welding helmet with red flames' class='card-img-top pl-md-2 pt-2 pr-md-2 mx-auto'>
						<div class="card-body text-center">
							<h2 class='card-title'>Welding Helmets</h2>
						</div>
					</a>
				</div>
				<div class="card m-4" id='glovesHomeCard'>
					<a href='./gloves'>
						<img src='./images/Home/Welding_Gloves.webp' alt='Generic pair of leather welding gloves' class='card-img-top pl-md-2 pt-2 pr-md-2 mx-auto'>
						<div class="card-body text-center">
							<h2 class='card-title'>Welding Gloves</h2>
						</div>
					</a>
				</div>
				<div class="card m-4" id='migHomeCard'>
					<a href='./mig'>
						<img src='./images/Home/MIG_Welder.webp' alt='MIG Welder' class='card-img-top pl-md-2 pt-2 pr-md-2 mx-auto'>
						<div class="card-body text-center">
							<h2 class='card-title'>MIG Welders</h2>
						</div>
					</a>
				</div>
				<div class="card m-4" id='tigHomeCard'>
					<div class="ribbon ribbon-top-left"><span>Coming Soon</span></div>
					<!-- <a href=''> -->
						<img src='./images/Home/Tig_Welder2.webp' alt='TIG Welder' class='card-img-top pl-md-2 pt-2 pr-md-2 mx-auto coming-soon'>
						<div class="card-body text-center">
							<h2 class='card-title coming-soon'>TIG Welders</h2>
						</div>
					<!-- </a> -->
				</div>
				<div class="card m-4" id='proHomeCard'>
					<div class="ribbon ribbon-top-left"><span>Coming Soon</span></div>
					<!--<a href=''>-->
						<img src='./images/Home/Multi_Welder.webp' alt='Large professional welder' class='card-img-top pl-md-2 pt-2 pr-md-2 mx-auto coming-soon'>
						<div class="card-body text-center">
							<h2 class='card-title coming-soon'>Professional Welders</h2>
						</div>
					<!--</a>-->
				</div>
			</div>
		</div>
	</div>
</div>



	

<%- include ('partials/Sidebar') %>
<%- include ('partials/Footer') %>

</body>
</html>