<!DOCTYPE html>
<html lang="en">
<head>
	<%- include ('partials/Header') %>
	<title>Best Welding Equipment</title>
	<meta name='description' content="At Best Welding Equipment we have spent our time finding the top welders, gloves, helmets, and other gear... so you don't have to.">
	<script>
		
	</script>
</head>
<body>
	<%- include ('partials/NavBar') %>
	<%- include ('partials/Background') %>
	<%- include ('partials/ExitSurvey') %>

<div class="container">
	<div class="content">
		<p class='name-intro text-center mt-4'>Do you need the absolute</p>
		<h1 class='name text-center mt-0'>Best Welding Equipment?</h1>
		<div class='home-container'>
			<div class="card-deck">
				<div class="card m-4">
					<a href='./Multi-welders'>
						<img src='./images/Home/Multi_Welder2.png' alt='ESAB Rebel EMP215IC welder' class='card-img-top pl-md-2 pt-2 pr-md-2 mx-auto'>
						<div class="card-body text-center">
							<h2 class='card-title'>Best Multiprocess Welders</h2>
						</div>
					</a>
				</div>
				<div class="card m-4">
					<a href='./helmets'>
						<img src='./images/Home/Safety_Equipment2.png' alt='Black welding helmet with red flames' class='card-img-top pl-md-2 pt-2 pr-md-2 mx-auto'>
						<div class="card-body text-center">
							<h2 class='card-title'>Best Welding Helmets</h2>
						</div>
					</a>
				</div>
				<div class="card m-4">
					<a href='./gloves'>
						<img src='./images/Home/Welding_Gloves.png' alt='Generic pair of leather welding gloves' class='card-img-top pl-md-2 pt-2 pr-md-2 mx-auto'>
						<div class="card-body text-center">
							<h2 class='card-title'>Best Welding Gloves</h2>
						</div>
					</a>
				</div>
				<div class="card m-4">
					<div class="ribbon ribbon-top-left"><span>Coming Soon</span></div>
					<!-- <a href=''> -->
						<img src='./images/Home/MIG_Welder.png' alt='MIG Welder' class='card-img-top pl-md-2 pt-2 pr-md-2 mx-auto coming-soon'>
						<div class="card-body text-center">
							<h2 class='card-title coming-soon'>Best MIG Welders</h2>
						</div>
					<!-- </a> -->
				</div>
				<div class="card m-4">
					<div class="ribbon ribbon-top-left"><span>Coming Soon</span></div>
					<!-- <a href=''> -->
						<img src='./images/Home/Tig_Welder2.png' alt='TIG Welder' class='card-img-top pl-md-2 pt-2 pr-md-2 mx-auto coming-soon'>
						<div class="card-body text-center">
							<h2 class='card-title coming-soon'>Best TIG Welders</h2>
						</div>
					<!-- </a> -->
				</div>
				<div class="card m-4">
					<div class="ribbon ribbon-top-left"><span>Coming Soon</span></div>
					<!--<a href=''>-->
						<img src='./images/Home/Multi_Welder.png' alt='Large professional welder' class='card-img-top pl-md-2 pt-2 pr-md-2 mx-auto coming-soon'>
						<div class="card-body text-center">
							<h2 class='card-title coming-soon'>Best Professional Welders</h2>
						</div>
					<!--</a>-->
				</div>
			</div>
		</div>
	</div>
</div>



	

<%- include ('partials/Sidebar') %>
<%- include ('partials/Footer') %>

</body>
</html>