<!DOCTYPE html>
<html lang="en">
<head>
	<%- include ('partials/Header') %>
	<title>Best Welding Equipment</title>
	<meta name='description' content="At Best Welding Equipment we have spent our time finding the top welders, gloves, helmets, and other gear... so you don't have to.">

</head>
<body>
	<%- include ('partials/NavBar') %>
	<%- include ('partials/Background') %>
	<%- include ('partials/ExitSurvey') %>

<div class="container">
	<div class="content">
		<p class='name-intro text-center mt-4'>Do you need the absolute</p>
		<h1 class='name text-center mt-0'>Best Welding Equipment?</h1>
		<div class='d-flex home-container m-5'>
			<div class="row mb-5 justify-content-center align-items-center">
				<div class="col-sm-6 col-lg-4">
					<div class='card m-3 bg-light'>
						<img src="./images/Home/Multi_Welder2.png" alt="" class="card-img-top pl-md-2 pt-2 pr-md-2 mx-auto">
						<div class="card-body text-center">
							<a href='./Multi-welders'>
							<h2 class="card-title">Best Multiprocess Welders</h2>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-4">
					<div class='card m-3 bg-light'>
						<img src="./images/Home/Safety_Equipment2.png" alt="" class="card-img-top pl-md-2 pt-2 pr-md-2 mx-auto">
						<div class="card-body text-center">
							<a href='./helmets'>
							<h2 class="card-title">Best Welding Helmets</h2>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-4">
					<div class='card m-3 bg-light'>
						<img src="./images/Home/Welding_Gloves.png" alt="" class="card-img-top pl-md-2 pt-2 pr-md-2 mx-auto">
						<div class="card-body text-center">
							<a href='./gloves'>
							<h2 class="card-title">Best Welding Gloves</h2>
							</a>
						</div>
					</div>
				</div>
				 <div class="col-sm-6 col-lg-4">
					<div class="card m-3 bg-light">
						<img src="./images/Home/MIG_Welder.png" alt="MIG Welder" class="card-img-top pl-md-2 pt-2 pr-md-2 mx-auto coming-soon">
						<div class="card-body text-center">
<!--							<a href='./MIG-welders'>   -->
							<div class="ribbon ribbon-top-left"><span>Coming Soon</span></div>
							<h2 class="card-title coming-soon">Best MIG Welders</h2>
<!--							</a>
-->						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-4">
					<div class='card m-3 bg-light'>
						<img src="./images/Home/Tig Welder2.png" alt="TIG Welder" class="card-img-top pl-md-2 pt-2 pr-md-2 mx-auto coming-soon">
						<div class="card-body text-center">
<!--							<a href='./TIG-welders'>    -->
							<div class="ribbon ribbon-top-left"><span>Coming Soon</span></div>
							<h2 class="card-title coming-soon">Best TIG Welders</h2>
<!--							</a>	
-->						</div>
					</div>
				</div>
				<div class='col-sm-6 col-lg-4'>
					<div class='card m-3 bg-light'>
						<img src="./images/Home/Multi_Welder.png" alt="Professional Welder" class="card-img-top p-3 pl-md-2 pt-2 pr-md-2 mx-auto coming-soon">
						<div class="card-body text-center">
<!--							<a href='./Tools-and-Parts'>
-->						
							<div class="ribbon ribbon-top-left"><span>Coming Soon</span></div>
							<h2 class="card-title coming-soon">							Best Professional Welders</h2>
<!--							</a>
-->						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


</div>


	

<%- include ('partials/Sidebar') %>
<%- include ('partials/Footer') %>

</body>
</html>