<!DOCTYPE html>
<html lang="en">
<head>
	<%- include ('../../partials/articleHeader') %>
	<title>How To Learn To Weld - Access To A Welder - Best Welding Equipment</title>
	<meta name='description' content="Several different ways to go about finding a welder you can use to practice your new skill.">
	<meta name='robots' content='index, follow'>
	<meta property='og:image' content="./images/Articles/Person_On_Fire.jpg">
</head>
<body>
	<%- include ('../../partials/NavBar') %>
	<%- include ('../../partials/Background') %>

<div class="container">
	<div class="mig-container">
		<div class="row justify-content-center mt-5 mb-5">
			<div class='col-12 col-lg-9'>
				<h1 class="card ml-3 mr-3 p-1 ml-md-5 mr-md-5 p-md-3 bg-dark text-center">How To Learn To Weld</h1>
			</div>
			<div class="col-12 col-lg-11">
				<div class="card m-3 p-3 ml-md-5 mr-md-5 p-md-5 bg-dark">
					<div class="card-body text-center">
					<h2>Access To A Welder</h2>

					<p class="articleParagraph mt-4">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The first, and most obvious, things you will need when first starting to learn how to weld are a welder and safety equipment. This can be your own welder and PPE or simply access to someone else's welder and equipment. Now, if money's no object and you can afford to go out and purchase a decent welder for one-thousand plus dollars as well as a helmet, gloves, and leathers for an additional three hundred or so, feel free to skip this entire section and read ahead.</p>

					<p class="articleParagraph">	
					<img src="./images/Articles/Person_On_Fire.jpg" alt="" class='articleImageRight articleImageVertical'>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;If you're like the rest of us, though, you can't simply drop over $1,300 on a new skill that currently has a 0% return on investment. One option, that I certainly don't recommend, is that you can opt to buy everything cheaper. A dirt-cheap setup with a welder, helmet, gloves, and leathers can cost you as little as $197 if that's the way you want to go about it, but I don't think you'll enjoy it. You won't be able to see anything you're doing through your $30 helmet and your $15 welding "leathers" might catch on fire. Who knows, your $130 welder might even catch on fire, too. Even if you don't end up setting anything on fire, you will end up learning in a year what you probably could have learned in a month with a higher-quality setup. On the other hand.... you could find a better way.</p>



					<p class="articleParagraph">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;One slightly better way would be to rent a welder, bring it home and try it out. Although this method isn't really sustainable in the long-run (as it will cost too much money), it will give you a feel for if developing the skill of welding is something you truly want to pursue. For around $40 (~5% of how much it would cost to buy) you can rent a <a href='https://www.homedepot.com/c/generator_equipment_rental?NCNI-5&searchRedirect=welder%20rental&semanticToken=300r10r00122000000_20210106112445864781234612_us-east4-1mp2%20300r10r00122000000%20%3E%20%20cnn%3A%7B0%3A0%7D%20cnp%3A%7B10%3A0%7D%20cnd%3A%7B4%3A0%7D%20cne%3A%7B8%3A0%7D%20cns%3A%7B5%3A0%7D%20cnx%3A%7B3%3A0%7D%20cnq%3A%7B0%3A0%7D%20cnw%3A%7B16%3A1%7D%20cnv%3A%7B1%3A4%7D%20st%3A%7Bwelder%20rental%7D%3Ast%20tgr%3A%7BNo%20stage%20info%7D%20qu%3A%7Bwelder%20rental%7D%3Aqu' target="_blank">Lincoln Electric welder</a> from HomeDepot for a day to take home and mess around with to get started. Unfortunately this won't work as a long-term solution as a month-long rental adds up to about half the price of the welder and you're not going to need to weld for a month to figure out if you want to keep learning or not.</p>

					<p class="articleParagraph">
					<img src='./images/Articles/Welding_Teacher.jpg' alt="" class='articleImageLeft articleImageHorizontal'>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The ranking of the next two options, which I consider the best options (unless you've got a neighbor or friend who will just let you borrow their welder indefinitely), is determined by the overall price of each. One is to take a class that is taught by a professional welder, which you can usually find at a technical college or trade school. 
					</p>

					<p class='articleParagraph'>
					Now, before you say, "That will be way too expensive. I can't afford that," it pays off to do some research. You can start by checking out the <a href='https://www.aws.org/foundation/page/scholarships' target="_blank">American Welding Society's scholarship page</a>, as they have a lot of different options for those pursuing education in welding. Also, don't be afraid to directly contact any trade schools near you and ask them whether they have any financial aid for welding programs that they offer. Another place to ask questions about financial aid and welding programs in your area is the Department of Labor. Trust me on this one as I have experience with it. Since I have children and fall within a certain income bracket, the Department of Labor in my state was willing to pay for me to take 2 months worth of welding classes at no cost to me besides buying a $20 pair of gloves.</p>

					<p class="articleParagraph">

					<img src='./images/Articles/Makerspace.jpg' alt='' class='articleImageRight articleImageHorizontal'>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The other option is to find a local makerspace. As I have just learned about these lately, my understanding is that a makerspace is a collaborative work space where people share resources (e.g. tools, computers, soldering irons, sewing machines, etc.) to develop and learn new skills. This sharing of resources makes the barriers to entry for each skill much smaller for each individual member. If you are able to find a makerspace that has the tools and equipment you need to start learning to weld all you will have to do then is to become a member. If they don't, there's still a chance that you may be able to get in contact with someone who manages the makerspace and suggest to them that they get welding supplies, such as a welder.</p>
					<p class='articleParagraph'>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					From my experience, people who manage makerspaces are very approachable and open to ideas and suggestions for improvement. If they hear your idea and find out that several other members are interested in the same thing, they may be willing to purchase a welder for the makerspace.</p>

						<div class="articleNavLinks">
							<a href='/protective-equipment' class='nextLink'>Protective Equipment</a>
						</div>
					</div>

					<div class="articleComments mt-3">
						<%- include ('../../partials/Comments') %>
					</div>


				</div>
			</div>
		</div>
	</div>
</div>


<!-- <%- include ('../../partials/Sidebar') %> -->
<%- include ('../../partials/Footer') %>

</body>
</html>