<!DOCTYPE html>
<html lang="en">
<head>
	<%- include ('../../partials/Header') %>
	<title>How To Learn To Weld - How And What To Practice - Best Welding Equipment</title>
	<meta name='description' content="How to get the most out of your time when you're learning how to weld.">
	<meta name='robots' content='index, follow'>

</head>
<body>
	<%- include ('../../partials/NavBar') %>
	<%- include ('../../partials/Background') %>

<div class="container">
	<div class="mig-container">
		<div class="row justify-content-center mt-5 mb-5">
			<div class='col-12 col-lg-9'>
				<h1 class="card ml-3 mr-3 p-1 ml-md-5 mr-md-5 p-md-3 bg-dark text-center">How To Learn To Weld</h1>
			</div>
			<div class="col-12 col-lg-11">
				<div class="card m-3 p-3 ml-md-5 mr-md-5 p-md-5 bg-dark">
					<div class="card-body text-center">
					<h2>How and What to Practice</h2>

					<p class="articleParagraph mt-4">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					Before you start practicing you're going to have to secure a source for one essential that I haven't mentioned yet: metal! Now, there are a lot of creative ways to secure yourself some material to practice on (combing through your local junkyard or trying to find a contractor who will let you take away material so they don't have to pay for it to be removed), but none are as quick or reliable as just buying it. If you want to experiment and try out a few strategies to get free metal, go ahead and check out <a href='https://welditu.com/welding/projects/where-to-find-scrap-metal/' target='_blank'>this article</a> by WelditU about a few methods to go about doing just that. 
					</p>

					<p class="articleParagraph">
					<img src='./images/Articles/Expected_Welded_Cube.jpg' alt='' class='articleImageLeft articleImageHorizontal'>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					If you decide you are going to buy your own metal to start learning on, DO NOT purchase it on Amazon. As an Amazon affiliate myself, I will repeat, DO NOT purchase metal on Amazon. It is simply too expensive... even with Prime or free shipping. And please do not try to start out by buying these <a href='https://amzn.to/3rR6KlZ' target='_blank'>welding cube kits</a>. First of all, you'll end up paying about 50 cents (or more!) per inch of practice you get from making these. I don't know about you, but I don't feel like spending $60 for every 10 feet of practice welds I make. Second, if you try to make these you'll only be able to thoroughly check your penetration on your first few welds. <img src='./images/Articles/Actual_Welded_Cube.jpg' alt='' class='articleImageRight articleImageVertical'>Third, they're not going to look as good as you want them to right off the bat. You'll learn a lot more by just doing standard joint welds and taking the time to examine what they look like (as well as what the back of the joint likes like).
					</p>

					<p class="articleParagraph">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					So, where should you purchase metal? My recommendation is through the James F. Lincoln Arc Welding Foundation. For $7.50 you get six pieces of 6 inch by 2 inch by 1/8 inch and two 3 inch by 3 inch by 1/4 inch pieces. Plus, they offer "bulk" discounts starting at 5 kits (knocking the price down for each to $5). You'll end up paying $95 on Amazon for 30 pieces that are 2 inches by 4 inches while from the <a href='https://www.jflf.org/ProductDetails.asp?ProductCode=METAL' target='_blank'>James F. Lincoln Arc Welding Foundation</a> you'll be getting 30 rectangular pieces that are 2 inches by 6 inches, as well as 10 square pieces for somewhere less than $50. In other words, you'll get twice as many weldable inches than you will get from Amazon for about half the price!
					</p>

					<p class='articleParagraph'>
					<img src="./images/Articles/Welding_Padwork.jpg" alt="" class='articleImageLeft'>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					Speaking of weldable inches, there are several ways to get much more practice out of the practice material you buy than just welding two of the edges to each other and then moving on to the next two pieces. First, you can do padwork and get many, many welds into a small square of practice material. You can start by running a straight weld the longway across a rectangular piece about half an inch from the top or bottom edge. After you've completed that weld go straight across again directly above that weld (by above I mean half on the new weld should be on the fresh piece of metal underneath and half should end up covering the weld you just completed). After you've got the whole piece of material covered, go ahead and start a new layer on top! If the entire pad starts warping at any time, just flip it over and start doing the same thing on the opposite side. You can also try rotating the pad 90 degrees after you've completed a layer and before you start laying down a second layer. This entire exercise will quickly teach you the importance of trying to keep your welds as straight as possible, as well as the importance of laying down a consistent amount of material across your entire weld when you start trying to lay a second layer on top of a bumpy first layer. Plus, it will save you a ton of material while teaching you a lot.
					</p>

					<p class='articleParagraph'>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					When you get tired of doing padwork (because you will), you can start working on welding actual joints. <img src='./images/Articles/Multiple_Joints.jpg' alt='' class='articleImageRight articleImageHorizontal'>I won't cover the different types of joints here, as you can easily look up all the different types of welding joints, but I will just tell you what I have found is important in terms of conserving and getting the most use out of materials as possible. Instead of welding a butt joint along the longer edges of two rectangular pieces and then pulling out two more pieces to complete another butt joint with those, just keep adding on to the first joint you've started. This way you will get much more use out of your materials and save yourself a bunch of money in the process. 
					</p>

					<p class='articleParagraph'>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					So, to wrap up, the essential steps to complete to start learning how to weld are:
					</p>

					<div class="articleList">
					<ol>
						<li><span class='articleListHeader'>Getting access to a Welder:</span> This can be accomplished by buying one, renting one, taking a class, or joining a makerspace.</li>
						<li><span class='articleListHeader'>Acquiring Protective Equipment:</span> Although you may be able to get away with only buying gloves if you are taking a class, try not to skimp on this step or it may hinder your learning process... or worse, you may get badly hurt.</li>
						<li><span class='articleListHeader'>Find Learning Materials That Match How You Learn Best:</span> Whether it's books, DVDs, online videos, or personally asking a welder or instructor, it is always nice to have some direction while learning a new skill.</li>
						<li><span class='articleListHeader'>Figure Out The Best and Most Efficient Ways to Practice:</span>  There are quite a few ways to get the most out of your time and materials which you will want to take advantage of, as you're not getting paid for all the welds you're laying down...yet!</li>
						<li><span class='articleListHeader'>Try To Have Fun and Enjoy The Learning Process:</span> It can be very frustrating to learn something new, especially when you're not performing as well as you hoped you could. Remember to take frequent breaks, take pride in the improvements you are making, and talk to yourself positively, and remind yourself that you're in the process of learning. Nobody started out as a great welder! Nobody. Also, as with everything, remember that how well or poorly you are currently performing doesn't determine your value as a human being. </li>
					</ol>
					</div>

					<p class='articleParagraph'>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					If you feel like you have something to add to this list, have questions, have suggestions for other topics to cover, or want to get in touch for any other reason, feel free to leave a comment or get in touch with BestWeldingEquipment through our <a href='/Contact' target='_blank'>Contact page</a> or through <a href='mailto:bestweldingequipment@gmail.com' target='_blank'>Email</a>. As Always, Happy Welding!
					</p>

					<div class="articleNavLinks">
						<a href="/learning-materials" class="prevLink">Learning Materials</a>
					</div>

					
					
					</div>

					<div class="articleComments mt-3">
						<%- include ('../../partials/Comments') %>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>


<!-- <%- include ('../../partials/Sidebar') %> -->
<%- include ('../../partials/Footer') %>

</body>
</html>