<!DOCTYPE html>
<html lang="en">
<head>
	<%- include ('../../partials/articleHeader') %>
	<title>How To Learn To Weld - Learning Materials - Best Welding Equipment</title>
	<meta name='description' content="How you learn to weld depends on your learning style and the materials you have access to.">
	<meta name='robots' content='index, follow'>

</head>
<body>
	<%- include ('../../partials/NavBar') %>
	<%- include ('../../partials/Background') %>

<div class="container">
	<div class="mig-container">
		<div class="row justify-content-center mt-5 mb-5">
			<div class='col-12 col-lg-9'>
				<h1 class="card ml-3 mr-3 p-1 ml-md-5 mr-md-5 p-md-3 bg-dark text-center">How To Learn To Weld</h1>
			</div>
			<div class="col-12 col-lg-11">
				<div class="card m-3 p-3 ml-md-5 mr-md-5 p-md-5 bg-dark">
					<div class="card-body text-center">
					<h2>Learning Materials</h2>

					<p class="articleParagraph mt-4">
					<img src='./images/Articles/Welder_In_Safety_Equipment.jpg' alt='' class='articleImageLeft articleImageHorizontal'>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					Once you've managed to find a welder to use, and all the proper safety equipment (seriously, please don't try to learn how to weld in sunglasses, a t-shirt and your bare hands), you're on your way and can start trying your hand at welding if you want to jump right in and give it a shot. If you're less of an adventurer and prefer to be more prepared and guided in your approach to learning things like this (as I personally do), there are a ton of options to choose from.
					</p>

					<p class="articleParagraph">	
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					If you learn better by reading, there are a ton of different books focused on welding available on <a href='https://amzn.to/388tsOw' target='_blank'>Amazon</a>. I can't honestly approve or disapprove this method as the only book I've read to learn how to weld was given to me and my first class. This book was about 20 pages long and functioned mainly to remind me of the difference between a butt joint and a lap joint. It also had a few illustrations that gave a better understanding of the different parts of a weld (face, toe, root, etc.) and different patterns that can be used, but not much more information than a simple Google search will get you. But, if you think that will work better for you, go ahead and try it out. Don't bother with code books at this point, though, as they tell you the characteristics good welds should have but not how to go about getting your welds to have these characteristics. 
					</p>

					<p class="articleParagraph">
						<iframe width="340" height='200' src="https://www.youtube.com/embed/sW65cxiGJTY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class='articleImageRight'></iframe>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					Another way that I've found that has helped me to improve my welding (as well as other skills) is by watching YouTube videos. There are some great channels that cover from the most basic aspects of welding (e.g. torch angle, travel speed, stickout) to much more complicated tricks and techniques. A few of my favorites that cover a large range of topics are <a href='https://www.youtube.com/c/weldingtipsandtricks' target='_blank'>Welding Tips and Tricks</a> and the channel by <a href='https://www.youtube.com/c/Welddotcom' target='_blank'>Weld.com</a>. The best thing about learning this way may be that you can watch a certain technique in a video on your phone while you're sitting right next to your welder right before you try it yourself. If you don't get it right off you just have to watch it again and then try it again. 
					</p>

					<p class='articleParagraph'>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					There is also an abundance of Facebook groups for welders of all experience levels that you can join. One of the ways that this can be better than watching videos or reading a book is that you have access to many people who have more experience than yourself to whom you can pose direct questions. If you're having some sort of problem and can't figure out why, you can post an image to one of these groups and there will be at least a few (and usually more) who can tell you just by looking at it how to improve what you're working on.
					</p>

					<div class="articleNavLinks">
						<a href="/protective-equipment" class='prevLink'>Protective Equipment</a>
						<a href="/how-and-what-to-practice" class='nextLink'>How And What To Practice</a>
					</div>
					</div>

					<div class="articleComments mt-3">
						<%- include ('../../partials/Comments') %>
					</div>



				</div>
			</div>
		</div>
	</div>
</div>


<!-- <%- include ('../../partials/Sidebar') %> -->
<%- include ('../../partials/Footer') %>

</body>
</html>