<!DOCTYPE html>
<html lang="en">
<head>
	<%- include ('../../partials/articleHeader') %>
	<title>How To Learn To Weld - Protective Equipment - Best Welding Equipment</title>
	<meta name='description' content="The bare essentials that you need to have to protect yourself before you start learning to weld.">
	<meta name='robots' content='index, follow'>
	<meta property='og:image' content="./images/Articles/Burnt_Gloves.jpg">

</head>
<body>
	<%- include ('../../partials/NavBar') %>
	<%- include ('../../partials/Background') %>

<div class="container">
	<div class="mig-container">
		<div class="row justify-content-center mt-5 mb-5">
			<div class='col-12 col-lg-9'>
				<h1 class="card ml-3 mr-3 p-1 ml-md-5 mr-md-5 p-md-3 bg-dark text-center">How To Learn To Weld</h1>
			</div>
			<div class="col-12 col-lg-11">
				<div class="card m-3 p-3 ml-md-5 mr-md-5 p-md-5 bg-dark">
					<div class="card-body text-center">
					<h2>Protective Equipment</h2>

					<p class="articleParagraph mt-4">

					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					What equipment you will need in order to start learning to weld will depend on how you have managed to get access to a welding machine. If you are buying or renting a welder, you will also have to purchase (I've never heard of any option for renting protective equipment) a helmet, gloves, and leathers. This will add a few hundred dollars onto your bill, with the overall price mainly depending on how nice of a helmet you decide to purchase. If you skimp, you can pick up all three for less than $200. A word of warning though: if you buy a cheaper helmet you may end up regretting it as these models tend to have much shorter lives and performance than their higher-quality counterparts. 
					</p>

					<p class="articleParagraph">
					<img src="./images/Articles/how_to_learn_to_weld/Burnt_Gloves.jpg" alt="burn welding gloves with holes in them" class='articleImageRight articleImageVertical'>	
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					If you have found either a makerspace to become a member of, or are starting to take a welding class, you may be able to get away with only having to purchase gloves. As far as gloves go, I would suggest buying several pairs as they are going to be your cheapest purchase and also the first thing to get damaged. When I was learning to MIG weld I remember that I held onto a few pieces of hot steel for a bit too long when trying to move pieces around or examine a weld. Not only  did this make my fingers uncomfortably hot, it also ended up shriveling up a few fingers on my left glove to the point where I could barely get my fingers into the glove or bend those fingers once they were in. 
					</p>

					<p class="articleParagraph">
					<img src="./images/Articles/how_to_learn_to_weld/Old_Helmet.jpg" alt="antique passive style welding helmet" class='articleImageLeft articleImageVertical' style='border:1px solid #f5f4f2;'>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					Also, even if you do find that the class you are taking or the makerspace you are joining provides helmets, you may want to look into getting one for yourself anyway. The helmets provided will usually be passive, not auto-darkening, helmets that only allow you to see what you're doing once you've initiated an arc which can make it harder to learn any process. Plus, they usually don't have the best clarity and have been banged around and had the lenses scratched by multiple people before you've even started to use them. 
					</p>

					<p class='articleParagraph'>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					So, if you can find the extra $100 or $200 you might end up having a more fun and productive time during your time learning to weld. If the makespace or class you are taking has welding leathers available for free, though, by all means use them and DO NOT get your own! The difference between wearing old, beat-up leathers and brand new nice looking ones will make no difference at this point (or probably any other point) in your welding journey. Don't spend money on them if you don't have to, unless you're absolutely determined that you're going to look good even if your welds don't!
					</p>

					<div class='articleNavLinks'>
						<a href='/access-to-a-welder' class='prevLink'>Access To A Welder</a>
						<a href='/learning-materials' class='nextLink'>Learning Materials</a>
					</div>

					</div>

					<div class="articleComments mt-3">
						<%- include ('../../partials/Comments') %>
					</div>


				</div>
			</div>
		</div>
	</div>
</div>


<!-- <%- include ('../../partials/Sidebar') %> -->
<%- include ('../../partials/Footer') %>

</body>
</html>