<!DOCTYPE html>
<html lang="en">
<head>
	<%- include ('../../partials/articleHeader') %>
	<title>Basics of MIG Welding - MIG Welder Parts & Functions - Best Welding Equipment</title>
	<meta name='description' content="General overview of the different parts of a MIG welder as well as their functions.">
	<meta name='robots' content='index, follow'>
	<meta property='og:image' content="./images/Articles/basics_of_MIG_welding/inside_welder.jpg">
</head>
<body>
	<%- include ('../../partials/NavBar') %>
	<%- include ('../../partials/Background') %>

<div class="container">
	<div class="mig-container">
		<div class="row justify-content-center mt-5 mb-5">
			<div class='col-12 col-lg-9'>
				<h1 class="card ml-3 mr-3 p-1 ml-md-5 mr-md-5 p-md-3 bg-dark text-center">Basics of MIG Welding</h1>
			</div>
			<div class="col-12 col-lg-11">
				<div class="card m-3 p-3 ml-md-5 mr-md-5 p-md-5 bg-dark">
					<div class="card-body text-center">
					<h2>MIG Welder Parts & Functions</h2>

					<p class="articleParagraph mt-4">
					<img src='./images/Articles/basics_of_MIG_welding/bird_nest.jpeg' alt='welding wire tangled around welder drive roll assembly' class='articleImageLeft articleImageVertical'>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					Before we get too far into different aspects of MIG welding, it may be beneficial for some to get a general overview of the different parts of a MIG welder, as well as their functions. This can save a lot of frustration when learning because you will be better able to diagnose what's happening if something is going wrong (e.g. porosity) and even prevent some other problems (e.g. “bird nests”) from occurring in the first place. This way you won't keep struggling and blaming yourself when the real problem is something that is happening with the machine which is preventing you from getting the best results from your efforts.</p>

					<p class="articleParagraph">
					
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					The main parts of any MIG torch are the contact tip, gas diffuser, nozzle, and the trigger. 
					</p>

					<p class='articleParagraph'>
					<img src="./images/Articles/basics_of_MIG_welding/MIG_torch_parts.jpg" alt="labeled diagram of MIG welding torch" class='articleImageRight articleImageHorizontal'>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					The contact tip, which must match the wire gauge being used, acts to consistently and predictably guide the wire out toward the welding surface. This ensures that you get a good arc which is essential to getting a good overall weld. Some people suggest replacing these after using 100 lbs of wire, and that's probably a good practice. 
					</p>

					<p class='articleParagraph'>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					You generally won't have to replace them often as they don't take much abuse, unless you have too short of a stickout and you get burnback or end up welding your wire inside the contact tip. If this happens, which it can when you're first learning, you'll have to replace it immediately. Trust me, trying to hold the trigger isn't going to push it out of there. Just go grab a new one. 
					</p>

					<p class="articleParagraph">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					The contact tip is usually screwed into the end of the gas diffuser (although some models, like the <a href='/Multi-welders' target="_blank">ESAB Rebel EMP215</a>, use a different method to keep the contact tip in). The diffuser pushes gas out around the contact tip and inside the nozzle. This is another part that doesn't need to get changed all that often because it is generally protected and doesn't get too beat up. 
					</p>

					<p class="articleParagraph">
					<img src="./images/Articles/basics_of_MIG_welding/shielding_gas.jpg" alt="labeled diagram which illustrates how gas from welding torch covers the area being welded" class='articleImageLeft articleImageHorizontal'>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					The nozzle gets screwed on and covers up both the contact tip and the gas diffuser. The nozzle directs the shielding gas directly over the weld puddle (as long as you maintain a reasonable torch angle) to prevent any impurities from getting into the weld before it solidifies. This is a part that will need to be replaced, or at least taken off and cleaned, more regularly than the other parts. 
					</p>
					
					<p class='articleParagraph'>
					<img src='./images/Articles/basics_of_MIG_welding/burnback_and_spatter.jpg' alt='buildup of spatter around the inside of MIG welder nozzle' class='articleImageHorizontal articleImageRight'>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					Since it is the outermost part closest to the weld puddle, it can get spatter buildup around the inside of the tip, which can alter how the shielding gas flows out over the weld. This can cause you to have inconsistent gas coverage which will result in porosity. If it builds up enough it can also cause the arc to jump over to the buildup on the nozzle, rather than the weld pool, possibly welding your stickout to the nozzle. This definitely isn't going to improve your welds when you're learning. 

					</p>

					<p class='articleParagraph'>
					<img src="./images/Articles/basics_of_MIG_welding/welpers.jpg" alt="pair of welding pliers with red handles" class='articleImageLeft articleImageHorizontal'>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					One useful tool to prevent too much buildup (and subsequently having to replace the nozzle entirely) are called <a href='https://amzn.to/3bHVxyD' target='_blank'> "welpers"</a> which are pliers designed with tools to help unscrew the nozzle, trim your wire stickout, and grooves on the top of the jaws that can be inserted inside the nozzle and twisted to break off any spatter buildup. You're going to want to do this often as once there's too much buildup, even those won't be able to get it off and you're going to have to replace the nozzle. 
					</p>

					<p class='articleParagraph'>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					Between the torch and the machine are your hose and your liner, both of which are relatively easy to maintain. Now, you wouldn't believe how difficult it is to find a diagram of a MIG welding hose, so you're just going to have to trust me on this one. What runs between the machine and the torch is a metal hose (liner) inside of a rubber hose. That's it. The liner is what the MIG wire runs through to the torch, and the rubber hose around it is where the gas travels to the torch.
					</p> 

					<p class='articleParagraph'>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					There's not much more to it and so it probably comes as no surprise that the best way to keep it in good condition is by bending it as little as possible. Imagine trying to shove a dowel down the length of a garden hose. Now, you probably don't need to conduct this experiment yourself, but if you do, make sure to do it in your front lawn in view of your neighbors.</p>


					<p class='articleParagraph'>
					<img src='./images/Articles/basics_of_MIG_welding/ground_clamp.jpg' alt='welding ground clamp connected to a table' class='articleImageHorizontal articleImageRight'>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					The only other things that are outside of the body of the MIG welder are the work cable and work clamp, as well as the hose which runs to your gas supply. Now, if you start welding and absolutely nothing is happening (I mean, no arc or anything), first check to make sure that your work clamp is connected to the material you are working on or at least to a piece of metal close to it. Your weld cable and clamp are what complete the electrical circuit and allow an arc to form between the piece you're welding and your electrode (which in the case of MIG is the wire itself). The working cable, clamp, and your gas supply hoses are equally easy to maintain. Just try to not kink them up, wrap them too aggressively, or stomp all over them and they should last quite a while. 
					</p>

					<p class='articleParagraph'>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<img src='./images/Articles/basics_of_MIG_welding/inside_welder.jpg' alt='inside working parts of an open welder' class='articleImageLeft articleImageHorizontal'>
					On the inside of the welder there are only a few basic parts that you will have to adjust or troubleshoot, at least at the beginner level. The wire spool tensioner sits on the end of the spool holder outside of the actual spool of wire. As the wire on the spool is somewhat rigid and is wrapped tightly around the spool, it is constantly trying to straighten out and come back off the spool. When you put the spool on an axle and one end of the wire is held in place, the natural tendency is for the spool itself to roll to allow that tension to decrease. The wire spool tensioner is responsible for holding the spool tight enough into the machine so that the machine has control of the spool movement, and not the physical force created by the rigid wire pushing to come off of the spool. In addition to the spool tensioner, some machines also have a nub that sticks out and engages into a dimple on the side of the wire spool to create a sturdier connection between the wire spool and the machine. 
					</p>

					<p class='articleParagraph'>
					<img src='./images/Articles/basics_of_MIG_welding/drive_roll_assembly.jpg' alt='drive roll assembly and drive wheels inside a welder' class='articleImageHorizontal articleImageRight'>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					Moving toward the front of the machine is the drive roll assembly. The first thing that you need to make sure of (especially if you're having problems) is that the drive roll itself matches the diameter of the wire you are using. As there is some variability between machines and manufacturers with this you may have to check what is the correct way to put in the drive roll for your specific machine. Often, though, the number that shows on the outside (as in, the side that you can read) of the drive roll is the number that your wire will be traveling through. 
					</p>

					<p class='articleParagraph'>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					Once you've got the drive roll in correctly, you just need to pull the tensioner into place to tighten the whole drive roll assembly and keep the wire in place. To run the wire all the way up to the torch, take off the contact tip, set the wire feed speed relatively low, remove the working clamp from anything it is attached to, and hold the trigger until it comes out of the gas diffuser. You can then slide the contact tip back over the wire and screw it into the diffuser.
					</p>

					<p class='articleParagraph'>
					<iframe width="340" height="200" src="https://www.youtube.com/embed/NqhRL0FgDVo?start=364" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class=' articleImageLeft'></iframe>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					One way that many people recommend to check if you have enough tension on your drive roll assembly is to run the wire at a angle slightly off vertical into a non-conductive flat surface (or with the ground clamp removed from any surface) so the wire can come out of the gun freely without starting an arc. There should be enough tension on the drive roll assembly that it will push into the surface and then start to circle around itself. If the wire stops feeding (and if you do this step with the welder open you can actually see the drive wheel slipping on the wire) it means you need to increase the tension with the tensioner on the drive roll assembly.  
					</p>

					<p class='articleParagraph'>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					This should cover most of the basic parts of a MIG welder, as well as what their function is and how they can be adjusted to get the best performance. Hopefully if you begin to run into any problems you will be able to better troubleshoot what is happening and correct the issue before it starts to ruin your day. If you have any questions, comments, suggestions, or anything you would like to add, or just want to get in touch, feel free to leave a comment below or get in touch with us through our <a href='/Contact' target='_blank'>Contact page</a> or through <a href='mailto:bestweldingequipment@gmail.com' target='_blank'>Email</a>. As Always, Happy Welding!
					</p>

					<button type = 'button' class='btn btn-primary' id='linkToMigPage'><a href='/mig'>Find A Welder</a></button>

				</div>






					<div class="articleComments mt-3">
						<%- include ('../../partials/Comments') %>
					</div>


				</div>
			</div>
		</div>
	</div>
</div>


<!-- <%- include ('../../partials/Sidebar') %> -->
<%- include ('../../partials/Footer') %>

</body>
</html>