<!DOCTYPE html>
<html lang="en">
<head>
	<%- include ('../../partials/articleHeader') %>
	<title>Basics of MIG Welding - Modes of Metal Transfer - Best Welding Equipment</title>
	<meta name='description' content="Different modes of metal transfer utilized when performing MIG welding.">
	<meta name='robots' content='index, follow'>
	<meta property='og:image' content="./images/Articles/basics_of_MIG_welding/inside_welder.jpg">
</head>
<body>
	<%- include ('../../partials/NavBar') %>
	<%- include ('../../partials/Background') %>

<div class="container">
	<div class="mig-container">
		<div class="row justify-content-center mt-5 mb-5">
			<div class='col-12 col-lg-9'>
				<h1 class="card ml-3 mr-3 p-1 ml-md-5 mr-md-5 p-md-3 bg-dark text-center">Basics of MIG Welding</h1>
			</div>
			<div class="col-12 col-lg-11">
				<div class="card m-3 p-3 ml-md-5 mr-md-5 p-md-5 bg-dark">
					<div class="card-body text-center">
					<h2>Modes of Metal Transfer</h2>
					<h3 class='mt-4'>Short-Circuit</h3>

					<p class="articleParagraph mt-4">
					<img src='./images/Articles/basics_of_MIG_welding/short_circuit_illustration.jpg' class='articleImageHorizontal articleImageLeft'>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					During short-circuit transfer the electrode is fed out of the torch faster than it can be burned off. This means that the MIG wire actually gets forced into the weld pool, causing the short-circuit itself. The short-circuit, along with the weld pool cause the end of the electrode to heat up and melts a section of the electrode, while the magnetic field within the welding area pinch of the molten section of the electrode. After the molten section comes off the gap between the weld puddle and electrode is reintroduced, restarting the cycle. 
					</p>

					<p class='articleParagraph'>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					Short-circuit MIG is particularly suited to welding thin material as it is a lower-energy mode of transfer, meaning that it won't burn through thinner materials nearly as quickly as some of the other modes of transfer. It is also often used on open root passes with no backing material as it is less likely to blow material out of the back of the root opening. 
					</p>

					<p class='articleParagraph'>
					<img src='./images/Articles/basics_of_MIG_welding/short_circuit_penetration.jpg' class='articleImageHorizontal articleImageRight'>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					Another benefit to short-circuit is that, because it is low energy it causes a smaller weld pool than other modes of transfer. Because of the smaller size of the weld pool there is greater surface tension which allows you to weld in positions with this mode of transfer that are not possible with other modes of transfer. 
					Along with these benefits comes the main drawback of short-circuit, which is that it can only handle material up to a certain thickness. Since it is a low-energy mode of transfer (usually at or less than 19 Volts) the welds can suffer from a lack of penetration, so it is best for material thinner than 5/16 inch. 
					</p>

					<h3 class='mt-4'>Globular</h3>

					<p class='articleParagraph mt-4'>
					<img src='./images/Articles/basics_of_MIG_welding/globular_illustration.jpg' class='articleImageVertical articleImageLeft'>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					The next mode of transfer is globular, which is exactly what it sounds like. In globular transfer, irregularly shaped globs of the electrode, which are usually larger in diameter than the original size of the wire, fall off into the weld pool. Due to its higher-energy nature, globular is better suited to the flat and horizontal positions than other positions as the weld puddle is bigger, and therefore harder to control in these positions. 
					</p>

					<p class='articleParagraph'>
					<img src='./images/Articles/basics_of_MIG_welding/globular_penetration.jpg' class='articleImageHorizontal articleImageRight'>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					Globular transfer usually uses 100% CO2 shielding gas and allows for a high travel speed, both of which reduce the overall cost of this mode of transfer (because buying CO2 is cheaper than buying a mix and because time is money). The main downsides of globular transfer is the level of spatter that is produced and that the welds don't look quite as good with other transfer modes. Globular transfer creates the most spatter of these transfer modes and therefore takes the longest to clean up after the weld has been created. Globular transfer occurs between short-circuit and spray transfer (usually between 19 and 28 Volts).
					</p> 

					<h3 class="mt-4">Spray </h3>

					<p class='articleParagraph mt-4'>
					<img src='./images/Articles/basics_of_MIG_welding/spray_illustration.jpg' class='articleImageVertical articleImageLeft'>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					Spray transfer is set with the parameters set in such a way that the arc gap is maintained at a large value, causing the molten metal to transfer across the gap in small droplets (which are smaller than the diameter of the wire), rather than the large droplets associated with globular transfer. Since it is another high-energy mode of transfer, it creates quite a large weld puddle that is much easier to control in the flat and horizontal positions.
					</p>

					<p class='articleParagraph'>
					<img src='./images/Articles/basics_of_MIG_welding/spray_penetration.jpg' class='articleImageHorizontal articleImageRight'>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					Since the electrode never comes in contact with the actual metal during spray transfer, there is very little spatter and it creates a very clean weld. Also, because it is a high-energy transfer mode, getting sufficient penetration is not nearly as much of an issue as it is in lower-energy modes like short-circuit. Spray transfer also gives you naturally nicer looking welds than other methods as the large weld puddle gives you a greater margin of error when laying material down into the joint. 
					</p>

					<p class='articleParagraph'>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					The main downsides of spray transfer are that it can't really be used out of position (vertical and overhead) and that it is definitely too high-energy to be used on thin material without blowing a hole straight through it.
					</p>
					

					<p class='articleParagraph'>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					If you have any questions, comments, suggestions, or anything you would like to add, or just want to get in touch, feel free to leave a comment below or get in touch with us through our <a href='/Contact' target='_blank'>Contact page</a> or through <a href='mailto:bestweldingequipment@gmail.com' target='_blank'>Email</a>. As Always, Happy Welding!
					</p>

				</div>

					<div class="articleComments mt-3">
						<%- include ('../../partials/Comments') %>
					</div>


				</div>
			</div>
		</div>
	</div>
</div>


<!-- <%- include ('../../partials/Sidebar') %> -->
<%- include ('../../partials/Footer') %>

</body>
</html>